__pycache__/
*.py[cod]
*$py.class
.Python
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
include/
lib/
lib64
lib64/
parts/
pip-selfcheck.json
pyvenv.cfg
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST